
@{
    ViewBag.Title = "Loan Account History";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<link href="~/assets/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="~/Content/style1.min.css" rel="stylesheet" />

<div class="page-wrapper">

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
            <h5 class="font-medium text-uppercase mb-0">Loan Account History</h5>
        </div>
        <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
            <nav aria-label="breadcrumb" class="mt-2 float-md-right float-left">
                <ol class="breadcrumb mb-0 justify-content-end p-0">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item active" aria-current="page">Loan Account History</li>
                </ol>
            </nav>
        </div>
    </div>
</div>


<div class="page-content container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="material-card card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">

                                <div class="container">
                                    <div class="col-md-11">
                                        <div class="section-header">
                                            <h4>Statement of Account For Paid Loan Application </h4>
                                            <hr />
                                        </div>
                                        <div class="alert alert-info" role="alert">
                                            <div class="p-2 align-self-center">
                                                <h4 class="mb-0">Regular Savings</h4>
                                                <span>Acct No: 00101000001</span>
                                                <br />
                                                <br />
                                            </div>
                                            @*<label class="text-danger"><b>Important</b></label>
                                            <ul>
                                                <li><small class="form-text text-dark">You will need Adobe Reader to view your statement of account. Adobe Acrobat Reader may be dowloaded at www.adobe.com</small> </li>
                                                <li><small class="form-text text-dark">The statement of account facility has been tested to work best with Internet Explorer 6 & 7, Netscape 7.2 & 9.0 and Mozilla Firefox 2.0.0.4 & 2.0.0.6. Some features may not be available in other browsers.</small></li>
                                            </ul>*@
                                        </div>
                                        <br />
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Select  Statement Date</label>
                                            <div class="col-sm-4">
                                                <select class="custom-select" id="loanproductlist">
                                                    <option selected>........................................................</option>
                                                    <option value="1">January 31, 2019 </option>
                                                    <option value="2">February 28, 2019 </option>
                                                    <option value="3">March 31, 2019 </option>
                                                    <option value="4">April 30, 2019 </option>
                                                    <option value="5">May 30, 2019 </option>
                                                    <option value="6">June 30, 2019 </option>
                                                    <option value="7">July 31, 2019 </option>
                                                    <option value="8">August 31, 2019 </option>
                                                    <option value="9">September 30, 2019 </option>
                                                    <option value="10">October 31, 2019 </option>
                                                    <option value="11">November 30, 2019 </option>
                                                    <option value="12">December 31, 2019 </option>
                                                </select>
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="alert alert-danger" role="alert">
                                            <label class="text-danger"><b>Security Tips</b></label>
                                            <ul>
                                                <li><small class="form-text text-dark">For your protection, please refrain from using public computers in viewing and savings your statement of account.However , in instances when you have to, please ensure that you logout after use and delete any saved document.</small> </li>
                                            </ul>
                                        </div>
                                        <br />
                                        <center><a class="btn btn-primary btn-sm active" href="~/ReportViewer/ReportViewerTD.aspx">Generate </a> | <a class="btn btn-secondary btn-sm active" href="@Url.Action("Index", "Transaction")">Cancel</a></center>
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





</div>

