
@{
    ViewBag.Title = "NATCCO GA on April 26-28 in Iloilo City.";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="banner-area banner-bg-3 ptb-80 bg-opacity-black-50 ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner">
                    <h2>News & Events</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-section-area ptb-80 white-bg bg-wabe1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <hr />
                <div class="container">
                    <img src="~/Img/news/GA_Poster.jpg" class="featurette-image img-fluid mx-auto" alt="Generic placeholder image" width="100%" height="450" />
                </div>
                <br />
                <p class="text-justify">
                    <h2><b>NATCCO GA on April 26-28 in Iloilo City.</b></h2>
                </p>
                <p class="text-justify">
                    ILOILO CITY – Representatives of member cooperatives of the NATCCO Network will converge in Iloilo City on April 26-28 for the 17th Coop Leaders Congress and the 42nd General Assembly.  Venue is the Grand Xing Imperial Hotel.
                </p>
                <p class="text-justify">
                    This year’s theme is NATCCO 4.0: Positioning Cooperatives in a Digital World.
                </p>
                <p class="text-justify">
                    We are in the midst of a revolution that is altering the way we live, work, and relate to one another. In its scale, scope, and complexity, the transformation will be unlike anything mankind has experienced before.
                    It is called the DIGITAL REVOLUTION.
                </p>
                <p class="text-justify">
                    But co-ops must be ready to face this 4th revolution.  Already, many co-ops are overwhelmed by changing regulatory demands such as the National Retail Payment System Act, the Data Privacy Act and the Credit Information System Act.
                    In accordance with its Mission to enable co-ops to serve members better, the NATCCO Network offers the Kaya Payment Platform on three channels: the traditional over-the-counter system, through ATMs, and through mobile phones.
                </p>
                <p class="text-justify">
                    The speed of current  breakthroughs has no historical precedent. It disrupts almost every industry.
                    It not yet known just how it will unfold, but we already feel its impact in our everyday lives.
                    Cooperatives arose as a result of the abuses of Capitalism during the First Industrial Revolution in Europe, and have lived through the Second and Third Revolutions.
                </p>
                <p class="text-justify">
                    WEF Founder Klaus Schwab, in the World Economic Forum website, says: “In the end, it all comes down to people and values. We need to shape a future that works for all of us by putting people first and empowering them. In its most pessimistic, dehumanized form, the Fourth Industrial Revolution may indeed have the potential to “robotize” humanity and thus to deprive us of our heart and soul. But as a complement to the best parts of human nature—creativity, empathy, stewardship—it can also lift humanity into a new collective and moral consciousness based on a shared sense of destiny. It is incumbent on us all to make sure the latter prevails.”
                </p>
                <p class="text-justify">
                    For more information, please contact the NATCCO GA Secretariat (02) 913-7011 to 15.
                </p>
                <small class="d-block text-right mt-3">
                    <a href="@Url.Action("News", "Home")">More News</a>
                </small>
             </div>
         </div>
     </div>
</div>

