
@{
    ViewBag.Title = "COOP-NATCCO Partylist guns for 3 seats";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="banner-area banner-bg-3 ptb-80 bg-opacity-black-50 ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner">
                    <h2>News & Events</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-section-area ptb-80 white-bg bg-wabe1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                @*<div class="page-header">
                    <h2 id="navbar">News</h2>
                </div>*@
                <hr />
                <div class="container">
                    <img src="~/Img/news/natccopartylist.jpg" class="featurette-image img-fluid mx-auto" alt="Generic placeholder image" width="100%" height="450" />
                </div>
                <br />
                <p class="text-justify">
                    <h2><b>COOP-NATCCO Partylist guns for 3 seats.</b></h2>
                </p>
                <p class="text-justify">
                    All cooperative members, leaders, staff, management and stakeholders are reminded to support COOP-NATCCO Partylist (CNPL) in the upcoming 2019 Elections.  Support is through – voting, campaigning, or providing finances and logistics.
                </p>
                <p class="text-justify">
                    The CNPL, since 1998, has endeavored to protect the interests of cooperatives in legislation, provided scholarships, pushed pro-farmer support, helped place co-op leaders in key government positions like the Cooperative Development Authority, United Coconut Planters Bank, National Anti-Poverty Commission, and more.
                </p>
                <p class="text-justify">
                    Current nominees of the Party are incumbent Rep. Sabiniano Canama representing Mindanao, Reynaldo Gandiongco representing Visayas, and Divina Quemi from Ilocos Sur representing Luzon.
                </p>
                <p class="text-justify">
                    The CNPL’s greatest legacy is the passage of the Philippine Cooperative Code of 2008 (Republic Act 9520), which ensured and expanded the tax exemptions of cooperatives.  It must be noted that then CNPL Representative Gil Cua succeeded in having the tax exemption portions of the Bill passed by the Joint Congessional Committee while personally battling cancer and in the face of opposition from the Department of Finance.
                    RA 9520 redefined and strengthened the first cooperative code passed by President Cory Aquino in 1990.Today, the CNPL continues to advance co-op interests in the House of Representatives.  This is done in cooperation with other co-op bloc partylists and development-oriented legislators.
                    CNPL currently has two seats in Congress, occupied by Rep. Sabiniano “Ben” Canama, former CEO of Lorenzo Tan Multi-Purpose Cooperative in Tangub City, and Dr. Anthony M. Bravo from San Isidro Development Cooperative in Sorsogon City.
                </p>
                <p class="text-justify">
                    The NATCCO Board, composed of co-op leaders from all over the country met in Caoayan, Isabela on July 27, 1997 to establish the CNPL.  On November 12, the group met again and commissioned Atty. Edmund Lao to prepare the party’s manifestation to participate in the election and to draft the by-laws.
                </p>
                <p class="text-justify">
                    In the 1998 elections, COOP-NATCCO Partylist garnered 189,000 votes or 2.2% of the total votes, giving the Party a seat in the 11th Congress, which was later occupied by Cresente C. Paez from Cebu.
                </p>
                <p class="text-justify">
                    In the 2001 elections, the party garnered 226,169 votes, or 3.1% of the votes.  The seat was occupied by Guillermo P. Cua from Cagayan de Oro City.
                    In 2007, CNPL votes increased more than 50% to 409,812 votes.  Cua again represented the Party in Congress until his death in December 2008.
                </p>
                <p class="text-justify">
                    NATCCO Network Board Chairman, Jose Ping-ay from Ilocos Sur took over the seat, as he was the Party’s second nominee.  In April 2009, the Supreme Court increased the number of Party-List seats in Congress and paved the way for CNPL to take a second seat, occupied by Cresente Paez.
                    Votes for CNPL in the 2016 Elections reached 678,905.  In 2016, former Rep. Cresente Paez ran for Senator but lost.
                </p>
                <p class="text-justify">
                    The 1987 Constitution allotted 20% of seats in the House of Representatives for party-list representatives. There are now 185 entities registered with the Commission on Elections running for the 2019 polls on May 13.
                </p>
                <p class="text-justify">
                    CNPL is # 142 in the voter's ballot.
                    All co-ops are encouraged to actively support the CNPL.  CNPL may be reached through e-mail coopnatccopartylist113@gmail.com and landline number (02) 792-8213.
                </p>

                <small class="d-block text-right mt-3">
                    <a href="@Url.Action("News", "Home")">More News</a>
                </small>

            </div>                   


                     
            </div>
        </div>
</div>