
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="page-wrapper">

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
                <h5 class="font-medium text-uppercase mb-0">FAQs</h5>
            </div>
            <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
                <nav aria-label="breadcrumb" class="mt-2 float-md-right float-left">
                    <ol class="breadcrumb mb-0 justify-content-end p-0">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item active" aria-current="page">FAQs</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>


    <div class="page-content container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Account Registration</h3>
                        <hr />
                        <!-- Accordian-part -->
                        <div id="accordian-part">
                            <div id="accordian-3" class="accordion">
                                <div class="card mb-0">
                                    <div class="card-header bg-white pl-0">
                                        <h5 class="mb-0">
                                            <a href="#" class="link" id="headingOne" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                                Q1. What is NEC Member Portal?
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordian-3">
                                        <div class="card-body pl-0">
                                            It is the fastest and convenient way of monitoring/viewing a summary of your enrolled accounts and their corresponding balances.
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-0">
                                    <div class="card-header bg-white pl-0">
                                        <h5 class="mb-0">
                                            <a href="#" class="collapsed link" id="headingTwo" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                                Q2. How to Register your Account in Member Portal?
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordian-3">
                                        <div class="card-body pl-0">
                                            1) You must be a Coop Member. Your Account will be interconnected with Members Portal. 2) Click the "SIGN-UP" button and filled up all the required fields.
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-0">
                                    <div class="card-header bg-white pl-0">
                                        <h5 class="mb-0">
                                            <a href="#" class="collapsed link" id="headingThree" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                                Q3. How to Activate your Account?
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#accordian-3">
                                        <div class="card-body pl-0">
                                            First, we validate the user with an email and password. Second we validate the user using his or her email address and COOP Account Name , by sending a one-time Access Code vie Email. Second, input the access code in the form and click SUBMIT button to succssfully acivate your Account.
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-0">
                                    <div class="card-header bg-white pl-0">
                                        <h5 class="mb-0">
                                            <a href="#" class="collapsed link" id="headingFour" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                                Q4. Can I have more than 1 username?
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse4" class="collapse" aria-labelledby="headingFour" data-parent="#accordian-3">
                                        <div class="card-body pl-0">
                                            Only one (1) username is allowed per client. All accounts under your name.
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-0">
                                    <div class="card-header bg-white pl-0">
                                        <h5 class="mb-0">
                                            <a href="#" class="collapsed link" id="headingFive" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                                Q5. What should I do if I still cannot register and have more questions regarding my accounts?
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse5" class="collapse" aria-labelledby="headingFive" data-parent="#accordian-3">
                                        <div class="card-body pl-0">
                                            If you have further questions regarding your accounts, you can call your coop  offices for assistances.
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-0">
                                    <div class="card-header bg-white pl-0">
                                        <h5 class="mb-0">
                                            <a href="#" class="collapsed link" id="headingSix" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                                Q6. How can I change my password?
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse6" class="collapse" aria-labelledby="headingSix" data-parent="#accordian-3">
                                        <div class="card-body pl-0">
                                            To do this, just go to "Change Password".Completely fill up the change password form and hit on the Submit button. We strongly advise that you change your password regularly to ensure maximum security.
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-0">
                                    <div class="card-header bg-white pl-0">
                                        <h5 class="mb-0">
                                            <a href="#" class="collapsed link" id="headingSeven" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                                Q7. Does my password expire?
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse7" class="collapse" aria-labelledby="headingSeven" data-parent="#accordian-3">
                                        <div class="card-body pl-0">
                                            Your password has no expiry date. However, it is recommended that you regularly change your password.
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-0">
                                    <div class="card-header bg-white pl-0">
                                        <h5 class="mb-0">
                                            <a href="#" class="collapsed link" id="headingEight" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                                Q8. How can I change my email address?
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse8" class="collapse" aria-labelledby="headingEight" data-parent="#accordian-3">
                                        <div class="card-body pl-0">
                                            Just go to Profile and Click Update Information. Note: modification for email address is subject for approval by Administrator.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End accordian-part -->
                        <small class="d-block text-center mt-3">
                            <a href="@Url.Action("Index", "DashBoard")"><b>Home</b></a>
                        </small>

                    </div>
                </div>
            </div>
        </div>



    </div>
</div>