
@{
    ViewBag.Title = "Loan Products";
}

<!-- Start Banner Area -->
<div class="banner-area banner-bg-3 ptb-80 bg-opacity-black-50 ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner">
                    <h2>Product & Services</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner Area -->



<!-- Start Main Content Wrapper -->
<div class="main-content-wrapper">
    <div class="clearfix"></div>
    <!-- Start Address section -->
    <div class="content-section-area ptb-80 white-bg text-center">
        <div class="container">
            <div class="row">
                <div class="main-heading-content text-center">
                    <h2>Loan <span>Products</span></h2>
                    <p>Get to your goals faster. Turn your dreams into reality through our different kinds of loan product.</p>
                </div>
            </div>
            <div class="row">
                <div class="team-wrapper">
                    <div class="col-md-3 col-sm-6">
                        <div class="team-item">
                            <div class="team-thumb">
                                <a class="team-image-hover" href="@Url.Action("BusinessLoan", "Service")"><img class="img-responsive" src="~/Img/loan/BL.png" alt="team-thumb"></a>
                            </div>
                            <div class="team-details">
                                <a href="@Url.Action("BusinessLoan", "Service")"><h3>Business Loan</h3></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="team-item">
                            <div class="team-thumb">
                                <a class="team-image-hover" href="@Url.Action("SalaryLoan", "Service")"><img class="img-responsive" src="~/Img/loan/SL.png" alt="team-thumb"></a>
                            </div>
                            <div class="team-details">
                                <a href="@Url.Action("SalaryLoan", "Service")"><h3>Salary Loan</h3></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
