
@{
    ViewBag.Title = "Salary Loan";
}


<link href="~/Css/custom.css" rel="stylesheet" />

<!-- Start Banner Area -->
<div class="banner-area banner-bg-3 ptb-80 bg-opacity-black-50 ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner">
                    <h2>Loan Products</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner Area -->


<!-- Start Main Content Wrapper -->
<div class="main-content-wrapper">
    <div class="clearfix"></div>
    <!-- Start Address section -->
    <div class="content-section-area ptb-80 white-bg text-center">
        <div class="container">
            <div class="row">
                <div class="main-heading-content text-center">
                    <h2>Salary <span>Loan</span></h2>
                </div>
                <div class="col-md-8">
                    <div class=table-responsive>
                        <table class="table">
                            <colgroup>
                                <col class=col-xs-3>
                                <col class=col-xs-7>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope=row>Loan Product</th>
                                    <td align="left">Salary Loan</td>
                                </tr>
                                <tr>
                                    <th scope=row>Interest Rate</th>
                                    <td align="left">42%</td>
                                </tr>
                                <tr>
                                    <th scope=row>Interest Computation</th>
                                    <td align="left">Diminishing Interest with increasing principal</td>
                                </tr>
                                <tr>
                                    <th scope=row>Minimum Amount</th>
                                    <td align="left">P 6,000.00</td>
                                </tr>
                                <tr>
                                    <th scope=row>Maximum Amount</th>
                                    <td align="left">P 500,000.00</td>
                                </tr>
                                <tr>
                                    <th scope=row>Minimum Term</th>
                                    <td align="left">6 months</td>
                                </tr>
                                <tr>
                                    <th scope=row>Maximum Term</th>
                                    <td align="left">3 years</td>
                                </tr>
                                <tr>
                                    <th scope=row>Penalty Rate</th>
                                    <td align="left">2%</td>
                                </tr>
                                <tr>
                                    <th scope=row>Grace Period</th>
                                    <td align="left">5 days</td>
                                </tr>
                                <tr>
                                    <th scope=row>Eligibility</th>
                                    <td align="left">
                                        Must be a regular employee. &nbsp;
                                        A member of our cooperative.  &nbsp;
                                        Must have undergo the PMES and comply all the necessary requirements
                                    </td>
                                </tr>
                                <tr>
                                    <th scope=row>Comaker</th>
                                    <td align="left">1 Co-Maker only</td>
                                </tr>
                                <tr>
                                    <th scope=row>Collateral</th>
                                    <td align="left">Annotation fee and other charges shall not exceed 70 percent of the appraised value of the real estate security including insured Improvements, if any.</td>
                                </tr>
                                <tr>
                                    <th scope=row>Renewal</th>
                                    <td align="left">The member must atleast paid 70 percent of his/her loan and the new loan amount should atleast be equal to the 20 percent of the members share capital.</td>
                                </tr>
                                <tr>
                                    <th scope=row>Restructuring</th>
                                    <td align="left">A loan may be restructured after 60-90 days have elpsed within which interest on the loan has not been paid and/or the principal remains unamortized; this to be rercommended by the account officer, and the member borrower shall be adviced in writing and shall conform to the loan restructuring.</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td></td>
                                </tr>
</tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

