
@{
    ViewBag.Title = "Share Capital";
}

<!-- Start Banner Area -->
<div class="banner-area banner-bg-3 ptb-80 bg-opacity-black-50 ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner">
                    <h2>Savings Product</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Banner Area -->
<!-- Start Main Content Wrapper -->
<div class="main-content-wrapper">
    <div class="clearfix"></div>
    <!-- Start Address section -->
    <div class="content-section-area ptb-80 white-bg text-center">
        <div class="container">
            <div class="row">
                <div class="main-heading-content text-center">
                    <h2>Share <span>Capital</span></h2>
                </div>
                <div class="col-md-8">

                    <div class=table-responsive>
                        <table class="table">
                            <colgroup>
                                <col class=col-xs-3>
                                <col class=col-xs-7>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope=row>Requirements:</th>
                                    <td align="left">Cannot be withdrawn unless membership is terminated for a cause.</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</div>
