
@{
    ViewBag.Title = "Time Deposit";
}

<!-- Start Banner Area -->
<div class="banner-area banner-bg-3 ptb-80 bg-opacity-black-50 ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner">
                    <h2>Savings Product</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner Area -->
<!-- Start Main Content Wrapper -->
<div class="main-content-wrapper">
    <div class="clearfix"></div>
    <!-- Start Address section -->
    <div class="content-section-area ptb-80 white-bg text-center">
        <div class="container">
            <div class="row">
                <div class="main-heading-content text-center">
                    <h2>Time <span>Deposit</span></h2>
                </div>
                <div class="col-md-8">

                    <div class=table-responsive>
                        <table class="table">
                            <colgroup>
                                <col class=col-xs-3>
                                <col class=col-xs-7>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope=row>Requirements:</th>
                                    <td align="left">Minumum deposit of Php2,000.00.</td>
                                </tr>
                                <tr>
                                    <th scope=row></th>
                                    <td align="left">Has terms of 30 days, 90 days, 180 days, 360 days and Over 360 days.</td>
                                </tr>
                                <tr>
                                    <th scope=row></th>
                                    <td align="left">Has minimum rate of 4% up to 6.5%.</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p>See time deposit table below: </p>
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th colspan="2" align="center">Amount</th>
                                <th scope="col" align="center">30 Days</th>
                                <th scope="col" align="center">90 Days</th>
                                <th scope="col" align="center">180 Days</th>
                                <th scope="col" align="center">360 Days</th>
                                <th scope="col" align="center">Over 360</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2,000.00</td>
                                <td>25,000.00</td>
                                <td>4.0%</td>
                                <td>4.2%</td>
                                <td>4.4%</td>
                                <td>4.6%</td>
                                <td>4.8%</td>
                            </tr>
                            <tr>
                                <td>25,001.00</td>
                                <td>50,000.00</td>
                                <td>4.2%</td>
                                <td>4.4%</td>
                                <td>4.6%</td>
                                <td>4.8%</td>
                                <td>5.0%</td>
                            </tr>
                            <tr>
                                <td>50,001.00</td>
                                <td>100,000.00</td>
                                <td>4.4%</td>
                                <td>4.6%</td>
                                <td>4.8%</td>
                                <td>5.0%</td>
                                <td>5.2%</td>
                            </tr>
                            <tr>
                                <td>100,001.00</td>
                                <td>250,000.00</td>
                                <td>4.6%</td>
                                <td>4.8%</td>
                                <td>5.0%</td>
                                <td>5.2%</td>
                                <td>5.4%</td>
                            </tr>
                            <tr>
                                <td>250,001.00</td>
                                <td>500,000.00</td>
                                <td>4.8%</td>
                                <td>5.0%</td>
                                <td>5.2%</td>
                                <td>5.4%</td>
                                <td>5.6%</td>
                            </tr>
                            <tr>
                                <td>500,001.00</td>
                                <td>1,000,000.00</td>
                                <td>5.0%</td>
                                <td>5.2%</td>
                                <td>5.8%</td>
                                <td>6.0%</td>
                                <td>6.2%</td>
                            </tr>
                            <tr>
                                <td>1,000,001.00</td>
                                <td>Above</td>
                                <td>5.2%</td>
                                <td>5.4%</td>
                                <td>6.0%</td>
                                <td>6.2%</td>
                                <td>6.5%</td>   
                            </tr>
                        </tbody>
                    </table>


                </div>

            </div>
        </div>
    </div>
</div>




