@{
    ViewBag.Title = "About Us";
    ViewBag.Active = "About";
}

<link href="~/Css/custom.css" rel="stylesheet" />

<!-- Start Banner Area -->
<div class="banner-area banner-bg-3 ptb-80 bg-opacity-black-50 ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner">
                    <h2>About Us</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner Area -->


<!-- Start Main Content Wrapper -->
<div class="main-content-wrapper">
    <div class="clearfix"></div>
    <!-- Start Address section -->
    <div class="content-section-area ptb-80 white-bg text-center">
        <div class="container">
            <div class="row">
                <p style="text-align:justify;"><b>NEC Multi-Purpose Cooperative</b> is one of the Cooperatives in thr country having more than 300 million in Assets.We are operating since 1993, started as closed type Coop from NATCCO for its employees and became community type last 2006 with five(5) branches, three(3) in Metro Manila such as in Cubao, Batasan ang Taguig branches, one (1) in San Pedro, Laguna and one (1) in Daet, Camarines Nortes. We have almost seven thousand (14,000.00) members and an active member of NATCCO Federation.</p>
                <p style="text-align:justify;">True with its mission of providing financial products and related services to empower member's socio economic well being, we offer various services suitable to our client's needs. Among others is the salary lending window offered to employees of private and government entities.</p>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12 col-sm-12  wow fadeIn animated" data-wow-offset="300" style="visibility: visible; animation-name: fadeIn;">
                    <div class="user-wrapper g-2">
                        <div class="user-item">
                            <div class="user-item-wrapper">
                                <div class="user-pic">
                                    <img src="~/Img/client/nurturing.png" width="120" height="120" alt="user">
                                    <div class="user-title g-2">
                                        <h3 style="text-align:center;">Nurturing</h3>
                                    </div>
                                </div>
                                <div class="client-says text-center">
                                    <p><b>"We take care of our member first and embrace their priorities as our own. Likewise, demonstrate concern for our organization, environment and the community."</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="user-item">
                            <div class="user-item-wrapper">
                                <div class="user-pic">
                                    <img src="~/Img/client/integrity.png" width="120" height="120" alt="user">
                                    <div class="user-title g-2">
                                        <h3 style="text-align:center;">Integrity</h3>
                                    </div>
                                </div>
                                <div class="client-says text-center">
                                    <p><b>"We are guided by the principles of honesty, ethical standards and professionalism for every interaction in our business and personal lives."</b><br /></p>
                                </div>
                            </div>
                        </div>
                        <div class="user-item">
                            <div class="user-item-wrapper">
                                <div class="user-pic">
                                    <img src="~/Img/client/commitment.png" width="120" height="120" alt="user">
                                    <div class="user-title g-2">
                                        <h3 style="text-align:center;">Commitment</h3>
                                    </div>
                                </div>
                                <div class="client-says text-center">
                                    <p><b>"We always assume responsibility and accountability for every aspect of our work for a 100% commitment to deliver what we promise and to foster trusted members and employee's relationship."</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="user-item">
                            <div class="user-item-wrapper">
                                <div class="user-pic">
                                    <img src="~/Img/client/excellence.png" width="120" height="120" alt="user">
                                    <div class="user-title g-2">
                                        <h3 style="text-align:center;">Excellence</h3>
                                    </div>
                                </div>
                                <div class="client-says text-center">
                                    <p><b>"We continually improve our standards and processes as we believe deeply in providing quality and superior service at the highest level of courtesy and promptness that exceeds our internal and external partie's expectations."</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Board of director -->
            <div id="team" class="content-section-area ptb-80">
                <div class="container">

                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                            <div class="main-heading-content text-center">
                                <h2><span>Board of</span> Directors</h2>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="team-wrapper">
                            <div class="col-md-3 col-sm-6">
                                <div class="team-item">
                                    <div class="team-thumb">
                                        <img class="img-responsive" src="~/Img/team/board/Barameda.jpg" alt="team-thumb">
                                    </div>
                                    <div class="team-details">
                                        <h3>Arnilo A. Barrameda</h3>
                                        <span>Director</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="team-item">
                                    <div class="team-thumb">
                                        <img class="img-responsive" src="~/Img/team/board/mac.jpg" alt="team-thumb">
                                    </div>
                                    <div class="team-details">
                                        <h3>Macario T. Jusayan</h3>
                                        <span>Director</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="team-item">
                                    <div class="team-thumb">
                                        <img class="img-responsive" src="~/Img/team/board/zora.jpg" alt="team-thumb">
                                    </div>
                                    <div class="team-details">
                                        <h3>Zorahayda A. Cafirma</h3>
                                        <span>Director</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="team-item">
                                    <div class="team-thumb">
                                        <img class="img-responsive" src="~/Img/team/board/edit.jpg" alt="team-thumb">
                                    </div>
                                    <div class="team-details">
                                        <h3>Edita B. Borilla</h3>
                                        <span>Director</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="team-wrapper">
                            @*second batch*@

                            <div class="col-md-3 col-sm-6">
                                <div class="team-item">
                                    <div class="team-thumb">
                                        <img class="img-responsive" src="~/Img/team/board/audit.jpg" alt="team-thumb">
                                    </div>
                                    <div class="team-details">
                                        <h3>Ellen R. Patores</h3>
                                        <span>Director</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="team-item">
                                    <div class="team-thumb">
                                        <img class="img-responsive" src="~/Img/team/board/ana.jpg" alt="team-thumb">
                                    </div>
                                    <div class="team-details">
                                        <h3>Ana Marie S. Manzon</h3>
                                        <span>Director</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="team-item">
                                    <div class="team-thumb">
                                        <img class="img-responsive" src="~/Img/team/default.jpg" alt="team-thumb">
                                    </div>
                                    <div class="team-details">
                                        <h3>Irene O. Talento</h3>
                                        <span>Director</span>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>


                    <!-- Audit -->
                    <div class="main-heading-content text-center">
                        <h2><span>Audit</span> Committee</h2>
                    </div>
                    <div class="row">
                        <div class="team-wrapper">
                            <div class="col-md-3 col-sm-6">
                                <div class="team-item">
                                    <div class="team-thumb">
                                        <img class="img-responsive" src="~/Img/team/audit/CABAL.jpg" alt="team-thumb">
                                    </div>
                                    <div class="team-details">
                                        <h3>Daisybelle M. Cabal</h3>
                                        <span>Chairperson</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="team-item">
                                    <div class="team-thumb">
                                        <img class="img-responsive" src="~/Img/team/audit/CACCAM.jpg" alt="team-thumb">
                                    </div>
                                    <div class="team-details">
                                        <h3>Vicente C. Caccam III</h3>
                                        <span>Vice-Chairperson</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="team-item">
                                    <div class="team-thumb">
                                        <img class="img-responsive" src="~/Img/team/audit/DIAZ.jpg" alt="team-thumb">
                                    </div>
                                    <div class="team-details">
                                        <h3>Ricky S. Diaz</h3>
                                        <span>Secretary</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Audit -->
                    <!-- Election Commitee -->
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                            <div class="main-heading-content text-center">
                                <h2><span>Election </span> Committee</h2>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="team-wrapper">
                            <div class="col-md-3 col-sm-6">
                                <div class="team-item">
                                    <div class="team-thumb">
                                        <img class="img-responsive" src="~/Img/team/election/SABIO.jpg" alt="team-thumb">
                                    </div>
                                    <div class="team-details">
                                        <h3>Arnulfo B. Sabio</h3>
                                        <span>National Election Committee Chairperson</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="team-item">
                                    <div class="team-thumb">
                                        <img class="img-responsive" src="~/Img/team/election/PAGUIRIGAN.jpg" alt="team-thumb">
                                    </div>
                                    <div class="team-details">
                                        <h3>Dionisa C. Paguirigan</h3>
                                        <span>National Election Committee Vice Chairperson</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="team-item">
                                    <div class="team-thumb">
                                        <img class="img-responsive" src="~/Img/team/election/AGUILAR.jpg" alt="team-thumb">
                                    </div>
                                    <div class="team-details">
                                        <h3>Daisy P. Aguilar</h3>
                                        <span>National Election Committee Secretary</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="team-item">
                                    <div class="team-thumb">
                                        <img class="img-responsive" src="~/Img/team/election/COLUMNA.jpg" alt="team-thumb">
                                    </div>
                                    <div class="team-details">
                                        <h3>Harold M. Columna</h3>
                                        <span>Local Election Committee <br />Cubao</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="team-item">
                                    <div class="team-thumb">
                                        <img class="img-responsive" src="~/Img/team/election/ISIDRO.jpg" alt="team-thumb">
                                    </div>
                                    <div class="team-details">
                                        <h3>Maribel G. Isidro</h3>
                                        <span>Local Election Committee <br />Cubao</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="team-item">
                                    <div class="team-thumb">
                                        <img class="img-responsive" src="~/Img/team/election/SALANGAD.jpg" alt="team-thumb">
                                    </div>
                                    <div class="team-details">
                                        <h3>Arnulfo B. Salangad</h3>
                                        <span>Local Election Committee <br />Taguig</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="team-item">
                                    <div class="team-thumb">
                                        <img class="img-responsive" src="~/Img/team/election/CABRAL.jpg" alt="team-thumb">
                                    </div>
                                    <div class="team-details">
                                        <h3>Else A. Cabral</h3>
                                        <span>Local Election Committee <br />Taguig</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="team-item">
                                    <div class="team-thumb">
                                        <img class="img-responsive" src="~/Img/team/election/DUERO.jpg" alt="team-thumb">
                                    </div>
                                    <div class="team-details">
                                        <h3>Nelson A. Duero</h3>
                                        <span>Local Election Committee <br />Daet</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="team-item">
                                    <div class="team-thumb">
                                        <img class="img-responsive" src="~/Img/team/election/OGRIMEN.jpg" alt="team-thumb">
                                    </div>
                                    <div class="team-details">
                                        <h3>Sheryl P.Ogrimen</h3>
                                        <span>Local Election Committee <br />Daet</span>
                                    </div>
                                </div>
                            </div> @*--9*@


                            <div class="col-md-3 col-sm-6">
                                <div class="team-item">
                                    <div class="team-thumb">
                                        <img class="img-responsive" src="~/Img/team/election/BUATES.jpg" alt="team-thumb">
                                    </div>
                                    <div class="team-details">
                                        <h3>Renelita C. Buates</h3>
                                        <span>Local Election Committee <br />Batasan</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="team-item">
                                    <div class="team-thumb">
                                        <img class="img-responsive" src="~/Img/team/election/HONTIVEROS.jpg" alt="team-thumb">
                                    </div>
                                    <div class="team-details">
                                        <h3>Ruela B. Hontivero</h3>
                                        <span>Local Election Committee <br />Batasan</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="team-item">
                                    <div class="team-thumb">
                                        <img class="img-responsive" src="~/Img/team/election/FLORES.jpg" alt="team-thumb">
                                    </div>
                                    <div class="team-details">
                                        <h3>Wilma J. Flores</h3>
                                        <span>Local Election Committee <br />Batasan</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="team-item">
                                    <div class="team-thumb">
                                        <img class="img-responsive" src="~/Img/team/election/VALENZUELA.jpg" alt="team-thumb">
                                    </div>
                                    <div class="team-details">
                                        <h3>FE C. Valenzuela</h3>
                                        <span>Local Election Committee <br />San Pedro</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="team-item">
                                    <div class="team-thumb">
                                        <img class="img-responsive" src="~/Img/team/election/DELA CRUZ.jpg" alt="team-thumb">
                                    </div>
                                    <div class="team-details">
                                        <h3>Ma. Theresa C. DelaCruz</h3>
                                        <span><small>Local Election Committee San Pedro</small></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Election Commitee -->
                    <!-- General Manager -->
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                            <div class="main-heading-content text-center">
                                <h2><span>General</span> Manager</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="team-wrapper">
                            <div class="col-md-3 col-sm-6">
                                <div class="team-item">
                                    <div class="team-thumb">
                                        <img class="img-responsive" src="~/Img/team/default.jpg" alt="team-thumb">
                                    </div>
                                    <div class="team-details">
                                        <h3>Joel S. Joson</h3>
                                        <span>General Manager</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- General Manager -->
                    <!-- Staff -->
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                            <div class="main-heading-content text-center">
                                <h2><span>Sta</span>ff</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="row blog-wrapper-2">
                            <div class="col-md-4 col-sm-6">
                                <article class="blog-post no-box-shadow">
                                    <div class="post-thumbnail">
                                        <img class="img-responsive" src="~/Img/team/staff/Taguig.jpg" alt="">
                                    </div>
                                    <div class="post-content">
                                        <div class="post-content-inner">
                                            <h3>Taguig Branch</h3>
                                        </div>
                                    </div>
                                </article>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <article class="blog-post no-box-shadow">
                                    <div class="post-thumbnail">
                                        <img class="img-responsive" src="~/Img/team/staff/Daet.jpg" alt="">
                                    </div>
                                    <div class="post-content">
                                        <div class="post-content-inner">
                                            <h3>Daet Branch</h3>
                                        </div>
                                    </div>
                                </article>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <article class="blog-post no-box-shadow">
                                    <div class="post-thumbnail">
                                        <img class="img-responsive" src="~/Img/team/staff/SanPedro.jpg" alt="">
                                    </div>
                                    <div class="post-content">
                                        <div class="post-content-inner">
                                            <h3>San Pedro Branch</h3>
                                        </div>
                                    </div>
                                </article>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <article class="blog-post no-box-shadow">
                                    <div class="post-thumbnail">
                                        <img class="img-responsive" src="~/Img/team/staff/Batasan_1.jpg" alt="">
                                    </div>
                                    <div class="post-content">
                                        <div class="post-content-inner">
                                            <h3>Batasan Branch</h3>
                                        </div>
                                    </div>
                                </article>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <article class="blog-post no-box-shadow">
                                    <div class="post-thumbnail">
                                        <img class="img-responsive" src="~/Img/team/staff/cubao_branch.jpg" alt="">
                                    </div>
                                    <div class="post-content">
                                        <div class="post-content-inner">
                                            <h3>Cubao Branch</h3>
                                        </div>
                                    </div>
                                </article>
                            </div>

                        </div>
                    </div>
                    <!-- Staff -->
                </div>
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="not-found-text">
                    <a href="@Url.Action("Index", "Home")" class="button active">Back To Home</a>
                </div>
            </div>
        </div>
    </div>
</div>