@{
    ViewBag.Title = "Contact Us";
    ViewBag.Active = "Contact";
}

<link href="~/Css/custom.css" rel="stylesheet" />



<div class="banner-area banner-bg-3 ptb-80 bg-opacity-black-50 ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner">
                    <h2>Contact Us</h2>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Start Main Content Wrapper -->
<div class="main-content-wrapper">
    <div class="clearfix"></div>
    <!-- Start Address section -->
    <div class="content-section-area ptb-80 white-bg text-center">
        <div class="container">
            <div class="row">

                <div class="main-heading-content text-center">
                    <h2>get in <span>touch</span></h2>
                        <p>Reach out to us and we're happy to answer any questions and we'll respond as soon as we can.</p>
                </div>
                <div class="col-md-offset-1 col-sm-10 col-md-10 col-sm-offset-1">
                    <div class="address-item">
                        <div class="address-icon">
                            <i class="ti-location-pin"></i>
                        </div>
                        <h3>Cubao Branch</h3>
                        <p>
                            Unit A & B Baron Bldg, 241 P. Tuazon St.
                            <br> Cubao, Quezon City
                        </p>
                    </div>
                    <div class="address-item">
                        <div class="address-icon">
                            <i class="ti-email"></i>
                        </div>
                        <h3>Email Us</h3>
                        <p>nec_mpc@yahoo.com</p>
                    </div>
                    <div class="address-item">
                        <div class="address-icon">
                            <i class="ti-headphone-alt"></i>
                        </div>
                        <h3>Call Us</h3>
                        <p>(02) 709-31-37</p>
                    </div>
                </div>
                <br />
                <div class="container mb-4">
                    <div class="footer-widget-item">
                        @*<iframe src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=Nec%20%20mpc%20+(NEC%20Head%20Office)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=B&amp;output=embed" width="90%" height="280" frameborder="0" style="border:0" allowfullscreen></iframe>*@
                        <img src="~/Img/about/branch/Cubao.png" width="90%" height="280" frameborder="0" style="border:0"></img>
                    </div>
                </div>

                <div class="container mb-4">
                    <div id="price" class="content-section-area ptb-80">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                                    <div class="main-heading-content text-center">
                                        <h2>Branch <span>Near You</span></h2>
                                    </div>
                                </div>
                            </div>

                            <div class="row blog-wrapper-2">
                                <div class="col-md-4 col-sm-6">
                                    <article class="blog-post no-box-shadow">
                                        <div class="post-thumbnail">
                                            <img class="img-responsive" src="~/Img/about/branch/taguig.png" alt="" />
                                        </div>
                                        <div class="post-content">
                                            <div class="post-content-inner">
                                                <h3>Taguig Branch</h3>
                                                <ul class="widget-address">
                                                    <li><i class="fa fa-map-marker m-5"></i>  No. 346 M.L. Quezon St., Purok 4, Lower Bicutan, Taguig City </li>
                                                    <li><i class="fa fa-phone m-5"></i>  (02) 837-38-09</li>
                                                    <li><i class="fa fa-envelope m-5"></i> nectaguig@yahoo.com.ph</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <article class="blog-post no-box-shadow">
                                        <div class="post-thumbnail">
                                            @*<img class="img-responsive" src="~/Img/about/branch/Batasan.png" alt="" height="1200" width="1200" />*@
                                            <img class="img-responsive" src="~/Img/about/branch/Batasan.png" alt="" />
                                        </div>
                                        <div class="post-content">
                                            <div class="post-content-inner">
                                                <h3>Batasan Branch</h3>
                                                <ul class="widget-address">
                                                    <li><i class="fa fa-map-marker m-5"></i>  2nd Flr. Yellow Bldg., 32 IBP Road, Batasan Hills, Quezon City </li>
                                                    <li><i class="fa fa-phone m-5"></i>  (02) 921-91-32</li>
                                                    <li><i class="fa fa-envelope m-5"></i> necmpc_micoop@yahoo.com</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-md-4 col-sm-6 hidden-sm">
                                    <article class="blog-post no-box-shadow">
                                        <div class="post-thumbnail">
                                            <img class="img-responsive" src="~/Img/about/branch/SanPedro.png" alt="" />
                                        </div>
                                        <div class="post-content">
                                            <div class="post-content-inner">
                                                <h3>San Pedro Branch</h3>
                                                <ul class="widget-address">
                                                    <li><i class="fa fa-map-marker m-5"></i>  Unit C Jam Bldg. A Mabini St. San Antonio, San Pedro, Laguna </li>
                                                    <li><i class="fa fa-phone m-5"></i>  (02) 553-95-33</li>
                                                    <li><i class="fa fa-envelope m-5"></i> nec_spl@yahoo.com</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-md-4 col-sm-6 hidden-sm">
                                    <article class="blog-post no-box-shadow">
                                        <div class="post-thumbnail">
                                            <img class="img-responsive" src="~/Img/about/branch/Daet.png" alt="" />
                                        </div>
                                        <div class="post-content">
                                            <div class="post-content-inner">
                                                <h3>Daet Branch</h3>
                                                <ul class="widget-address">
                                                    <li><i class="fa fa-map-marker m-5"></i>  Unit 2 The Gachhe Plaza, F. Pimentel Ave, Daet, Camarines Norte </li>
                                                    <li><i class="fa fa-phone m-5"></i>  (54) 440-26-46</li>
                                                    <li><i class="fa fa-envelope m-5"></i> nec_spl@yahoo.com</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="col-md-12 col-sm-12">
                        <div class="not-found-text">
                            <a href="@Url.Action("Index", "Home")" class="button active">Back To Home</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

