

<!-- Start Footer Section -->
<div class="clearfix"></div>
<div class="content-section-area ptb-80 black-bg text-center footer-weve1">
    <div class="container">

        <div class="row">
            <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                <div class="logo footer-logo">
                    <div class="main-heading-content text-center">
                        <h2 style="color:white"><span>Contact</span> Us</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-sm-10 col-md-10 col-sm-offset-1">
                <div class="address-item">
                    <div class="address-icon">
                        <i class="ti-location-pin"></i>
                    </div>
                    <h3 style="color:white">Head Office</h3>
                    <p style="color:white">
                        Unit A & B Baron Bldg, 241 P. Tuazon St.
                        <br> Cubao, Quezon City
                    </p>
                </div>
                <div class="address-item">
                    <div class="address-icon">
                        <i class="ti-email"></i>
                    </div>
                    <h3 style="color:white">Email Us</h3>
                    <p style="color:white">nec_mpc@yahoo.com</p>
                </div>
                <div class="address-item">
                    <div class="address-icon">
                        <i class="ti-headphone-alt"></i>
                    </div>
                    <h3 style="color:white">Call Us</h3>
                    <p style="color:white">(02) 709-31-37</p>
                </div>

            </div>
            <br />
            <div class="container mb-4">
                <div class="footer-widget-item">
                    <iframe src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=nec%20mpc%20cubao+(NEC%20MPC)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" width="90%" height="280" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
