
<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-5">
                <div class="header-top-left">
                    <ul class="info">
                       
                        <li><i class="fa fa-envelope" aria-hidden="true"></i> nec_mpc@yahoo.com</li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i> (02) 709-31-37</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-7">
                <div class="top-menu pull-right">
                        <ul>
                            <li><a href="https://www.facebook.com/NECMPCCubao/"><i class="ti-facebook"></i></a></li>
                            <li><a href="nec_mpc@yahoo.com"><i class="fa fa-envelope"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/nec-mpc-07390549/?originalSubdomain=ph"><i class="ti-linkedin"></i></a></li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</div>
